/* DARK_GREEN = '#005432'
LIGHT_GREEN = '#006747'
LIGHT_GOLD = '#CFC493'
SAND = '#EDEBD1'
GREY = '#EDF0F1'
STORM = '#006484'
APPLE = '#9CCB3B'
TEAL = '#009374' */

html{
    background: #FFFFFF;
}

.row.align-items-stretch .card {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #navigation .container-fluid .navbar-brand{
        font-size:2rem;
    }
    .alert{
        color: black;
        background: #CFC493;
        padding: 2rem;
        margin: 0.5rem;
        font-size:1.25rem
    }
    .nav-item{
        font-size: 1.25rem;
    }
    #cards h4{
        font-size: 2rem;
    }
    #cards h5{
        font-size: 1.5rem;
    }
    #cards h6{
        font-size: 1.2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #navigation .container-fluid .navbar-brand{
        font-size:1.5rem;
    }
    .alert{
        color: black;
        background: #CFC493;
        padding: 1rem;
        margin: 0.5rem;
        font-size:1rem;
    }
    .nav-item{
        font-size: 1rem;
    }
}

#footer{
    padding: 1rem;
    background: #006747;
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    
}

#footer img{
    width: 1.5%;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

#footer a{
    color: white;
}

#footer a:hover{
    color: #CFC493 ;
    text-decoration: none;
}

.collapse .navbar-nav .nav-item .nav-link:hover{
    color:#CFC493;
}


/* Rafael */
.nav-tabs .nav-item .active {
    background: #006747;
    color:white;
}

/* Rafael */
.nav-tabs .nav-item .active:hover {
    background: #006747;
    color:white;
}